{% if recipe.Photo -%}
<link rel="stylesheet" href="/assets/css/style.css">
<div class ="image-gallery">
{% for name in recipe.Photo %}
    <div class="box">
    <a href="/assets/images/bbq/{{ name }}">
      <img src="/assets/images/bbq/{{ name }} " alt=""  class="img-gallery" />
     </a>
    </div>
 {% endfor %}
</div>
{% endif -%}