{% if recipe.Photo -%}
<link rel="stylesheet" href="/assets/css/style.css">
<div class ="image-gallery">
{% for name in recipe.Photo %}
    <div class="box">

      <img src="/assets/images/recipes/{{ name }} " alt=""  class="img-gallery" />

    </div>
 {% endfor %}
</div>
{% endif -%}